@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4 {
    font-family: 'Ivar', serif;
  }

  body, p, h5, h6, span, div {
    font-family: 'HelveticaCustom', sans-serif;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-[100vh] flex flex-col;
  }
}


@font-face {
  font-family: 'Ivar';
  src: url('/fonts/ivar.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'HelveticaCustom';
  src: url('/fonts/helvetica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
